.App {
  text-align: center;
}

body, html {
  height: 100%;
  background-color: #35654d;
}

/* Card components styling */

.card{
  font-size: 230px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 5px;
}

.card-group{
  padding-top: 2%;
  display: inline-block;
  text-align: center;
}

/* HTT, DEAL and STAND button styling */

.btn-grp{
  padding-top: 5%;
}

.btn{
  padding: 5px 8px;
  margin-left: 18px;
  margin-right: 18px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 26px;
  height: 60px;
  width: 150px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

/* Total h1 styling */

.total-div{
  padding-top: 3%;
  color: white;
}

.total-div h1 {
  font-size: 40px;
}

/* Buttons appearing when user draws an ace */

.btn-ace{
  padding: 5px 8px;
  margin-left: 5px;
  margin-right: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
